.banner {
  width: 100%;
  height: 400px;
}

.title {
  font-weight: bold !important;
  font-size: 3rem !important;
  line-height: 3.625rem !important;
  letter-spacing: -0.031rem !important;
  color: var(--heading) !important
}

.paragraphBlock {
  margin-top: 2rem;

  strong {
    margin-bottom: 1rem !important;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
